@charset: "utf-8";

html {
	height: 100%;
}

body {
	background: #b4b4ac;
	color: #000000;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
}

h1, h2, h3, h4, h5 , h6, p {
	margin: 0 0 20px 0;
}

/* Begin General Link Styles */

a, a:visited {
	color: #434343;
	text-decoration: none;
}

a:hover, a:focus {
	color: #636363;
	outline: none;
	text-decoration: underline;
}

a:active {
	color: #434343;
}

/* End General Link Styles */

/* Begin Content */

#content {
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}

/* End Content */

/* Begin Header */

#main-header {
	background: #434343;
	border-bottom: 16px solid #000000;
	border-top: 16px solid #000000;
	height: 220px;
	margin: 0 auto 36px auto;
	overflow: hidden;
	width: 1000px;
}

#logo {
	float: left;
	margin: 40px 0 0 40px;
}

#store-name {
	color: #dcddde;
	float: right;
	font-size: 55px;
	margin: 80px 115px 0 0;
		text-shadow: 1px 1px 2px #333333;
}

#main-nav {
	background: #820a20;
	-webkit-border-radius: 6px 0 0 0;
	-moz-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
	clear: right;
	float: right;
	margin-top: 29px;
	padding: 12px;
}

#main-nav ul {
	list-style: none;
}

#main-nav ul li {
	float: left;
	margin-right: 10px;
}

#main-nav ul li a {
	background: url(/Files/BrokerBranding/tp/Include/menuarrow.png) no-repeat scroll right center transparent;
	color: #ffffff;
	font-size: 18px;
	padding-right: 16px;
	text-shadow: 1px 1px 3px #222222;
}

/* End Header */

/* Begin Sidebar */

#sidebar {
	float: left;
	padding-left: 30px;
	width: 145px;
}

#sidebar h1 {
	font-size: 34px;
}

#sidebar ul {
	margin-bottom: 20px;
}

#sidebar ul li a {
	color: #323232;
	font-size: 18px;
}

/* End Sidebar */

/* Begin Main */

#main {
	float: left;
	padding-left: 25px;
	width: 800px;
}

/* End Main */

/* Begin Footer */

footer {
	width: 1000px;
}

footer p {
	color: #aaaaaa;
	font-size: 9px;
	text-align: center;
}

footer p a {
	color: #aaaaaa !important;
}

.AuthorizeNetSeal {
	width: 100% !important;
}

/* End Footer */